# Python
__pycache__/
*.pyc
.env

# Data (tracked by DVC, not Git)
data/raw/*
!data/raw/*.dvc
!data/raw/.gitignore
data/processed/*
!data/processed/*.dvc
!data/processed/.gitignore

# Models
*.pt
*.bin
*.safetensors
models/bert/*
!models/production_version.json
mlruns/

# IDE
.vscode/

venv/
venv_new/

# Cloud & Security
*.pem
aws-yt-key.pem
