# Python
__pycache__/
*.pyc
.env

# Data (tracked by DVC, not Git)
data/raw/*
!data/raw/*.dvc
!data/raw/.gitignore
data/processed/*
!data/processed/*.dvc
!data/processed/.gitignore

# Models
*.pt
*.bin
mlruns/

# IDE
.vscode/

venv/
venv_new/
